<section class="bg-div bg-color-green text-white p-8 flex flex-col md:flex-row justify-evenly items-center gap-8 ">
  <!-- Imagen -->
  <div class="w-5/12 md:w-1/2">
    <img
      src="https://s3-alpha-sig.figma.com/img/2081/e23a/a575d195091b6ecac1f3383cea99436a?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GCJDSXpgTOvfMHxk1cQ9WZIloivuAsqkok9SstoC~3Omt9aSXAmSbnsk9CnAu5yhGd9Kw7EX2F6wOmLwhf9H0SYXQlWMBldjbuOqMf43uxE9~eGCfYjYvy0Hi1CSgpMt0bBm3siLRB4MXKHly2QUfsKR1ApK6yBp2mpfSJEljJCikMUd3KDXnzxdRKpZTRgqlcLv3G2faZ0wVHPMo2X7jfHh-uLP-h7d0-9FWLGK0P2mLaOxutVZOpGXwWaTxhhp5G~woGQgh3OnWKsViRfn-~MawWJPrjAtAj~~AfUL69aqVfQxWtbKY90gQo15YO9LFzHaSNLmNuB5jDuVKl6-uw__"
      alt="Plato peruano"
      class="rounded-2xl shadow-lg w-full object-cover"
    />
  </div>

  <!-- Contenido de texto -->
  <div class="text-content flex  md:w-1/2">
    <div>
      <h2 class="text-4xl font-bold mb-4">Reserva hoy mismo.</h2>
    <p class="text-lg leading-relaxed mb-6">
      Disfruta de una mezcla de sabores peruanos en cada bocado.
    </p>
    <a
      href="#"
      class="inline-block text-yellow-500 font-semibold py-3 px-8 rounded-3xl border-2 border-yellow-500 "
    >
      Reservar
    </a>
    </div>
  </div>
</section>
